@page
@model Timesheet.Web.Pages.Timesheets.DeleteModel

@{
  ViewData["Title"] = "Delete";
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Pontaj</h1>

<h3>Sunteti sigur ca vreti sa stergeti aceasta inregistrare?</h3>
<div>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Timesheet.AssignmentId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Timesheet.Assignment.Location.FullName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Timesheet.Hours)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Timesheet.Hours)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Timesheet.Date)
    </dt>
    <dd class="col-sm-10">
      @Model.Timesheet.Date.ToString("dd/MM/yyyy")
    </dd>
  </dl>

  <form method="post">
    <input type="hidden" asp-for="Timesheet.Id" />
    <input type="submit" value="Da" class="btn btn-sm btn-success" />
    <a asp-page="./Index" class="btn btn-sm btn-danger">Nu</a>
  </form>
</div>
