@page
@using Timesheet.Web.Utils;
@model Timesheet.Web.Pages.Timesheets.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Pontaj</h1>

<div class="container w-100 d-flex justify-content-between mb-3 mt-3 p-0">
  <a href="@("/Timesheets/Index?year=" + @Model.PrevStartDate.Year + "&month=" + Model.PrevStartDate.Month)" class="btn btn-light float-start">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
    </svg>
  </a>

  <span class="mx-auto p-2">
    <span>@Model.StartDate.ToString("dd/MM/yyyy")</span> - <span>@Model.EndDate.ToString("dd/MM/yyyy")</span>
  </span>

  <a href="@("/Timesheets/Index?year=" + @Model.NextStartDate.Year + "&month=" + Model.NextStartDate.Month)" class="btn btn-light float-end">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
    </svg>
  </a>
</div>

<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th style="width: 90px">Data</th>
      <th class="w-50">Pontaj</th>
      <th class="text-end">Total</th>
      <th class="w-25">Observatii</th>
    </tr>
  </thead>
  <tbody>
    @{
      for (var i = 0; i < Model.EndDate.Day; i++)
      {
        var date = Model.StartDate.AddDays(i);

        var timesheets = Model.Employee.Timesheets.FindAll(t => t.Date.Date == date.Date);
        var leaves = Model.Employee.Leaves.FindAll(l => l.StartDate.Date <= date.Date && l.EndDate.Date >= date.Date);

        <tr class="@(date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday ? "bg-light" : "")">
          <td>@date.ToString("dd/MM/yyyy")</td>
          <td>
            @if (timesheets is not null)
            {
              foreach(var timesheet in timesheets)
              {
                <div class="d-flex justify-content-between mb-2">
                  <span>@timesheet.Assignment.Location.Client.Name - @timesheet.Assignment.Location.Name: @timesheet.Hours ore</span>
                  <span class="">
                    <a asp-page="./Edit" asp-route-id="@timesheet.Id" class="btn btn-sm btn-outline-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                      </svg>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@timesheet.Id" class="btn btn-sm btn-outline-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                      </svg>
                    </a>
                  </span>
                </div>
              }
            }
            <a href="@("/Timesheets/Create?year=" + date.Year + "&month=" + date.Month + "&day=" + date.Day)" class="btn btn-sm btn-outline-primary float-start">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
              </svg>
            </a>
          </td>
          <td class="text-end">
            @if (timesheets is not null && timesheets.Count > 0)
            {
              <span>@timesheets.Sum(t => t.Hours) ore</span>
            }
          </td>
          <td>
            @if (leaves is not null)
            {
              foreach (var leave in leaves)
              {
                <span>@leave.LeaveType.GetDescription()</span>
              }
            }
          </td>
        </tr>
      }
    }
  </tbody>
</table>